body{
    font-family: "Times New Roman", Times, serif;
}
/* Start header */
header{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    background-color: aqua;
}
.Logo{
    margin-left:20%;
}
.Nav nav{
    background-color: #111;
}
.Nav nav li ul {
    display: none;
}
.Nav nav ul{
    margin: 0;
    padding: 0;
    text-align:center;
    width:100%;
}
.Nav nav ul li{
    display: inline;
    list-style: none;
}

.Nav nav ul li a{
    display:inline-block;
    width:11%;
    font-weight:bold;
    font-size: 125%;
    padding-bottom: 1%;
    padding-top: 1%;
    color:#FFF;
    background-color:#111;
    text-align:center;
    text-decoration:none;
}
.Nav nav ul li a:hover {
    background: #f00;
}
/*.Nav nav{
    background-color: #111;
}
.Nav nav ul {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}
.Nav nav ul li {
    display: inline-block;
    list-style: none;
    position: relative;
    padding-left: 1%;
}
.Nav nav li ul {
    display: none;
}
.Nav nav ul li a {
    display: inline-block;
    width:100%;
    font-weight:bold;
    font-size: 125%;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-left:1%;
    color:#FFF;
    background-color:#111;
    text-align:center;
    text-decoration:none;
}
.Nav nav ul li a:hover {
    background: #f00;
}
.Nav nav li:hover ul {
    display: block;
    position: absolute;
}
.Nav nav li:hover li {
    float: none;
}
.Nav nav li:hover a {
    background: #111;
}
.Nav nav li:hover li a:hover {
    background: #f00;
}
.Nav nav #drop-nav li ul li {
    border-top: 0;
}*/
/* End header */