/* Put all styling in application.css too this document is for informational  and documentation purposes only.*/
header{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    background-color: burlywood;
}
.Logo h1{
    font-size: 300%;
    margin-left: 18.5%;
}
.Logo h3{
    position: absolute;
    top: 38%;
    margin-left: 20%;
}
.Nav nav{
    background-color: #111;
}
.Nav nav ul{
    margin: 0;
    padding-left: 30%;
    overflow: hidden;
    background-color: #111;
}
li{
    float: left;
}
.Nav nav ul li{
    display: inline;
    list-style: none;
}
li a, .dropbtn {
    display: inline-block;
    color: white;
    font-size: 125%;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #111;
    min-width: 11%;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: red
}

.dropdown:hover .dropdown-content {
    display: block;
}